@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.custom-scroll-area {
  width: 100%;
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 8px;
}

/* Custom scrollbar */
.custom-scroll-area::-webkit-scrollbar {
  width: 12px;
  height: 20px !important;
}

.custom-scroll-area::-webkit-scrollbar-thumb {
  background-color: #cdcecd;
  border-radius: 10px;
}

.custom-scroll-area::-webkit-scrollbar-track {
  background-color: transparent;
}
